.cart {
  background: #F7F7F7;
  background: linear-gradient(to bottom,#F7F7F7 0%,#fff 10%,#fff 100%);
  border-top: solid 1px #EAE9E8;
  height: 100%;
}

.cartWrapper{
  min-width: 750px; max-width: 1000px;
  margin: 30px auto;
  height: 100%;
  .cartEmpty h1 {font-size: 1.75em; margin-top: 30px;}
}

.cartHeader {
  height: 65px;
  border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e8e7e5;
  border-left: 1px solid #f2f2f2; border-right: 1px solid #f2f2f2;
  width: 100%;
  display: inline-block; line-height: 65px;
  .cartHeaderTitle{width: 60%; padding-left: 20px; float: left; h1 {font-size: 1.75em;}}
  .cartHeaderQuantity{width: 15%; text-align: center; float: left;font-size: 1.2em; color: gray;}
  .cartHeaderPrice{width: 25%; padding-left: 20px; float: left;font-size: 1.2em; color: gray;}

}
.cartContentItem {
  height: 140px;
  border-left: 1px solid #f2f2f2; border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #e8e7e5;

  .cartContentMainWrapper{
    width: 60%; float: left;
    .cartContentImageWrapper{
      display: inline-block; line-height: 140px;
      width: 200px; text-align: center;
      float: left;
      img {
        max-height: 80px;
      }
    }
    .cartContentMainTitle{
      height: 80px; line-height: 50px; font-size: 1.25em;
    }
    .cartContentMainShop{
      height: 60px; line-height: 60px;
      a {float: left; padding-right: 10px;}
    }
  }
  .cartContentQuantityWrapper{
    width: 15%; float: left; text-align: center;

    font-size: 1.25em;
    .cartContentQuantityBlock{
      width:85px; margin: 0 auto;
      height: 140px;
      .cartContentQuantityMinusWrapper {
        display: block; margin-top: 12px; float: left; width: 25px; height: 25px;
        .cartContentQuantityMinus {
          display: block; visibility: hidden;
          width: 25px; height: 25px; line-height: 25px;
          border-bottom: 1px solid #cccccc; border-top: 1px solid #cccccc; border-left: 1px solid #cccccc;
        }
      }
      .cartContentQuantity {margin-top: 12px;float: left;width: 35px;height: 25px; line-height: 25px; border: 1px solid #cccccc;}
      .cartContentQuantityPlusWrapper{
        display: block;margin-top: 12px;float: left;width: 25px;height: 25px;
        .cartContentQuantityPlus {
          display: block; visibility: hidden;
          width: 25px;height: 25px; line-height: 25px;
          border-bottom: 1px solid #cccccc; border-top: 1px solid #cccccc; border-right: 1px solid #cccccc;}
        }
      }


  }

  .cartContentPriceWrapper{
    width: 20%; float: left;
    height: 140px; line-height: 50px;
    padding-left: 20px;
    font-size: 1.2em; font-weight: bold;
    .cartContentPrice {float: left;}
    .cartContentItemDel {
      float: right;
      img {max-width: 25px;}

    }
  }


}
.cartFooter{
  height: 75px; width: 100%;
  display: inline-block; line-height: 75px;
  border-bottom: 1px solid #e5e5e5; border-left: 1px solid #f2f2f2; border-right: 1px solid #f2f2f2;
  .cartFooterSummary{
    padding-left: 15px; float: left; font-size: 1.4em;
    .cartText {padding: 0 5px;}
    .cartPrice {font-weight: bold;}
  }
  .cartFooterButton{
    padding-right: 20px; float: right; height: 20px;
  }
}

.cartDopInfo {margin-top: 20px;}

