/* хедер+меню */
.header {border-bottom: solid 1px #F0F0F0;}
.headerWrapper{
    border-bottom: 1px solid rgba(0,0,0,.06); background: #fff;
    max-width: 1440px; margin: 0 auto;
};

    .headerLogo {
        display: block; float: left; text-align: center;
        height: 70px; width: 24%;
        .link{display: block;width: 100%;height: 100%;}
    }

    .headerLeft,.headerRight{white-space: nowrap; overflow: hidden;}

    .headerLeft{
        padding: 20px 0; float: left; width: 38%;
        .headerNameplate{position: relative; z-index: 12}
        .nameplate{
            display: inline-block; line-height: 28px;
            cursor: pointer; text-decoration: none;
            color: #000; outline: 0;
        }
        .nameplate:after{
            position: absolute; top: 0; right: 8px; bottom: 0; left: 0;
            content: '';
            border: 2px solid #fc0; border-right-width: 0;
        }
        .nameplateText{
            position: relative;
            display: inline-block; padding: 0 10px;
            font: 17px/32px arial,helvetica,sans-serif; background-color: #fff;
        }
        // правый угол перед формой ввода
        .nameplateText:after,.nameplateText:before{
            position: absolute; right: 0;
            box-sizing: border-box;
            width: 9px; height: 50%;
            content: '';
            border: 2px solid #fc0; border-left-width: 0;
            background-color: #fff;
        }
        .nameplateText:before{top: 0; border-bottom-width: 0; transform: skewX(26.6deg) scaleX(1.12); transform-origin: 100% 0}
        .nameplateText:after{bottom: 0; border-top-width: 0; transform: skewX(-26.6deg) scaleX(1.12); transform-origin: 100% 100%}

        .input{
            position: relative; width: 45%;
            display: inline-block; vertical-align: top; height: 32px;}
      @media all and (min-width: 970px){.input{width: 55%}}
      @media all and (min-width: 1170px){.input{width: 65%}}
        .inputThemeNormal,.inputThemeNormal .inputControl{font-family:Arial,sans-serif;color:#000}
        .inputThemeNormal .inputHint{color:#999}
        .inputThemeNormal .inputBox:before{border:1px solid rgba(0,0,0,.2);background-color:#fff;background-clip:padding-box;transition:.1s ease-out;transition-property:border-color,border-width}
        .inputThemeNormal .inputHovered_yes .inputBox:before{border-color:rgba(0,0,0,.3)}
        .inputThemeNormal .input_focused_yes .inputBox:before{border:2px solid #ffdb4d}
        .inputThemeNormal .inputDisabled_yes .inputBox:before{border-color:transparent;background-color:rgba(0,0,0,.08)}
        .inputThemeNormal .inputTypeTextarea .inputBox:before{transition-property:border-color,border-width,top,left,right,bottom}
        .inputSizeM{font-size:15px;line-height:32px}
        .inputSizeM .inputControl,.inputSizeM .inputHint{height:32px;border-right-width:10px;border-left-width:10px}
        .inputSizeM .inputIcon{width:32px}
        .inputSizeM .inputClear{width:32px;height:32px}
        .inputSizeM .inputIcon_side_right~.inputClear{right:16px}
        .inputSizeM .inputClear_visibility_visible~.inputControl{border-right-width:26px}
        .inputSizeM .inputIcon_side_right~.inputClear_visibility_visible~.inputControl{border-right-width:42px}
        .inputSizeM .inputHint.inputHint_rpad_yes,.inputSizeM .inputIcon_side_right~.inputControl{border-right-width:32px}
        .inputSizeM .inputHint.inputHint_lpad_yes,.inputSizeM .inputIcon_side_left~.inputControl{border-left-width:32px}
        .inputSizeM .inputTypeTextarea .inputControl{padding:6px 8px 0}
        .inputSizeM .inputTypeTextarea .inputClear~.inputControl{padding-right:30px}
        .inputSizeM .inputControl{line-height:32px}
        .inputAfterNameplate_yes{margin-left:-10px}
        .inputAfterNameplate_yes.input_size_m .input__control,.input_after-nameplate_yes.input_size_m .input__hint{border-left-width:17px}
        .inputControl{position:relative;z-index:3;box-sizing:border-box;width:100%;margin:0;padding:0;vertical-align:top;font-size:100%;color:#000;border:0 solid transparent;outline:0;background:0 0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none}
        .inputBox:before{position:absolute;top:0;right:0;bottom:0;left:0;padding:0;content:'';background-clip:padding-box}

        .button {position:relative;display:inline-block;vertical-align:top;}

    }


    .headerRight{
        display: inline-block; line-height: 70px; text-align: center;
        float: left; width: 27%;
        .headerMenu{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none}
        .headerMenuItem{
            padding: 0 8px 0 30px;
            background-position: 7px 50%;
            background-repeat: no-repeat;
        }
        .headerMenuItemCompare{padding-left: 29px;background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMyAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMTAxMDEwIj48cGF0aCBkPSJNNSAwaDh2MmgtOHoiLz48cGF0aCBkPSJNMCAwdjJoM3YtMmgtM3oiLz48cGF0aCBkPSJNNSA1aDh2MmgtOHoiLz48cGF0aCBkPSJNMCA1djJoM3YtMmgtM3oiLz48cGF0aCBkPSJNNSAxMGg4djJoLTh6Ii8+PHBhdGggZD0iTTAgMTB2Mmgzdi0yaC0zeiIvPjwvZz48L3N2Zz4=');background-position:7px 49%}
        .headerMenuItemCompare:hover{background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMyAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjZjAwIj48cGF0aCBkPSJNNSAwaDh2MmgtOHoiLz48cGF0aCBkPSJNMCAwdjJoM3YtMmgtM3oiLz48cGF0aCBkPSJNNSA1aDh2MmgtOHoiLz48cGF0aCBkPSJNMCA1djJoM3YtMmgtM3oiLz48cGF0aCBkPSJNNSAxMGg4djJoLTh6Ii8+PHBhdGggZD0iTTAgMTB2Mmgzdi0yaC0zeiIvPjwvZz48L3N2Zz4=')}
        .headerMenuItemFavorite{background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNCAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNi45MzMgMTNsLTUuNTM4LTUuNTczYy0uOTAxLS45MS0xLjM5NS0yLjA3MS0xLjM5NS0zLjI4NSAwLTEuMTYxLjQ1OS0yLjI2MiAxLjI5MS0zLjA5NC42ODUtLjY4NSAxLjU4Ni0xLjA0OSAyLjU4My0xLjA0OSAxLjA0OSAwIDIuMTQ5LjQwNyAzLjA1OSAxLjEwOS45MS0uNzAyIDIuMDExLTEuMTA5IDMuMDU5LTEuMTA5IDEuMDA1IDAgMS44OTguMzY0IDIuNTkxIDEuMDU3LjgyMy44MzIgMS4yODMgMS45MjQgMS4yODMgMy4wODUgMCAxLjIxMy0uNDk0IDIuMzc1LTEuMzk1IDMuMjg1bC01LjUzOCA1LjU3M3ptLTIuODE4LTExLjAyOGMtLjUzNSAwLS45OS4xODQtMS4zNDEuNTQzLS40ODcuNDc5LS43NSAxLjExNy0uNzUgMS43ODggMCAuNzE4LjMwMyAxLjQyMS44NTQgMS45NzFsNC4wNTUgNC4wODcgNC4wNTUtNC4wODdjLjU1MS0uNTU5Ljg1NC0xLjI1My44NTQtMS45NzEgMC0uNjctLjI3MS0xLjMwOS0uNzUtMS43OTYtLjM1OS0uMzU5LS44MTQtLjU0My0xLjM0MS0uNTQzLS43NzQgMC0xLjY1Mi4zOTktMi4yOTEgMS4wNDZsLS41MjcuNTM1LS41MTktLjUyN2MtLjY0Ny0uNjQ3LTEuNTI0LTEuMDQ2LTIuMjk5LTEuMDQ2eiIgZmlsbD0iI0YyNDI0MiIvPjwvc3ZnPg==');background-position: 7px 47%}
        .headerMenuItemCart{background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNSAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDApIiBmaWxsPSJub25lIj48cGF0aCBkPSJNNSAzbC0xLTNoLTR2MmgybDMgOSA4LjktMi42czEuMS0uMiAxLjEtMS42di0zLjhoLTEweiIgZmlsbD0iIzM2N0JGMiIvPjxjaXJjbGUgaWQ9Ik92YWwiIGZpbGw9IiMyMDIwMjAiIGN4PSIxMS43IiBjeT0iMTMuNyIgcj0iMS4zIi8+PGNpcmNsZSBmaWxsPSIjMjAyMDIwIiBjeD0iNC43IiBjeT0iMTMuNyIgcj0iMS4zIi8+PC9nPjwvc3ZnPg==');background-position: 7px 48%}
        .headerMenuCount{font: 11px 'Verdana',sans-serif;margin: 0 0 0 6px;color: gray}
        .headerMenuItem.link{color: #202020}
        .headerMenuItem.link:hover .headerMenuCount{color: red}
        .headerMenuItemCompare .headerMenuCount,.headerMenuItemFavorite .headerMenuCount{margin-left: 0}

        .headerMenuItemCompare .headerMenuText,.headerMenuItemFavorite .headerMenuText{display: none}
        @media all and (min-width: 1230px){.headerMenuItemCompare .headerMenuText,.headerMenuItemFavorite .headerMenuText{display: inline}}

    }


    .headerUser {
        float: right; width: 10%;
        display: inline-block; line-height: 70px;
        .headerEnterButton {margin: 0 auto;}
    }





