
/* карта */
.shopMap{
  height:500px;border-bottom:1px solid #F0F0F0;

  h2{font-size: 22px;padding: 20px 0;}
  ol {margin:0 0 0 -10px;padding:0 0 0 10px; color: $yaGray;}
  li {padding-bottom: 20px;}
}
.itemPriceSmall {color:black; font-weight: bold;}
#productMapWrapper{}