<div class="footerBlockTop">
    <div class="container">
        <div class="row footerBlockTopTitle">
            <div class="col-xs-6">Пользователям</div>
            <div class="col-xs-3">Партнёрам</div>
            <div class="col-xs-3">Магазинам</div>
        </div>
        <div class="row footerBlockTopContent">
            <div class="col-xs-3">
                <ul>
                    <li><a class="link" href="">Как заказать</a></li>
                    <li><a class="link" href="">Оплата</a></li>
                    <li><a class="link" href="">Доставка</a></li>
                    <li><a class="link" href="">Установка</a></li>
                    <li><a class="link" href="">Возврат и обмен</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <ul>
                    <li><a class="link" href="">Пользовательское соглашение</a></li>
                    <li><a class="link" href="">Информация о компании</a></li>
                    <li><a class="link" href="">Обратная связь</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <ul>
                    <li><a class="link" href="">Информация поставщикам</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <ul>
                    <li><a class="link" href="http://av.iisis.ru/" target="_blank">Автоматизация автобизнеса</a></li>
                    <li><a class="link" href="http://tjdata.iisis.ru/" target="_blank">Интеграция с 1С</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footerBlockBottom">
    <div class="container">
        <div class="footerBlockBottomMobile"><a class="link linkThemeMinor" href="">Мобильная версия</a></div>
        <div class="footerBlockBottomMetrika"><a class="link linkThemeMinor" href="">Статистика</a></div>
        <div class="footerBlockBottomCopyright">&copy; 2016  ИП Теребов</div>
    </div>
</div>

