

            <div class="headerWrapper">
                  <div class="headerLogo">
                     <a class="link pjax" href="/">
                        <img class="image" src="/images/logo180x75.png" alt="Логотип">
                     </a>
                  </div>


                        <div class="headerLeft" itemtype="http://schema.org/WebSite" itemscope="">
                           <meta itemprop="url" content=""/>
                           <form class="search suggestForm"  action="" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction">
                              <meta itemprop="target" content=""/>
                              <a class="nameplate headerNameplate" href="">
                                  <span class="nameplateText">Запрос</span>
                              </a>
                              <span id="searchForm" class="input inputSizeM inputTypeNormal inputThemeNormal">
                                <span class="inputBox">
                                    <input id="headerSearch" class="inputControl" name="headerSearch" aria-labelledby="headerSearch headerSearchLabel" autocomplete="off" itemprop="query-input" value=""/>
                                    <span class="inputClear"></span>
                                </span>
                              </span>
                              <button class="button buttonSizeM buttonThemePseudo pjaxAV" role="button" type="submit" data-href="/poisk/">
                                <span class="buttonText">поиск</span>
                              </button>
                           </form>
                        </div>

                        <div class="headerRight">
                           <div class="headerMenu">
                              <a class="headerMenuItem headerMenuItemCompare link" href="">
                                 <span class="headerMenuText">Сравнение</span>
                                 <span class="headerMenuCount"></span>
                              </a>

                              <a class="headerMenuItem headerMenuItemFavorite link" href="">
                                 <span class="headerMenuText">Отложенные</span>
                                 <span class="headerMenuCount"></span>
                              </a>
                              <a class="headerMenuItem headerMenuItemCart link cartBasket" href="/cart">
                                  <span class="headerMenuText">Корзина</span>

                                  <span class="headerMenuCount" id="cartCountPlace"></span>
                              </a>
                           </div>
                        </div>



                  <div class="headerUser">
                      <div class="headerEnterButton">
                         <a class="button buttonSizeM buttonThemePseudo popupRegistration" href="" role="button">
							<span class="buttonText">Войти</span>
                         </a>
                      </div>
                      <div class="headerUserContent">
                         <div class="headerNavUser">
                            <a class="user" href="">
                              <span class="userIcon" ></span>
                              <span class="userName"><span class="userFirstLetter"></span></span>
                            </a>
                        </div>
                     </div>
                  </div>
            </div>



