<div class="catalogPageWrapper">
    <div class="row catalogHeader">
        <ul class="breadcrumbs" onclick="">
            <li id="breadcrumbsCategory0" class="breadcrumbsItem" itemscope="itemscope" itemref="" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a class="link pjax" href="/">
                    <meta itemprop="url" content="">
                    <span itemprop="title">Главная</span>
                </a>
            </li>
            <li id="breadcrumbsCategory1" class="breadcrumbsItem" itemscope="itemscope" itemref="breadcrumbsCategory" itemprop="child" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a class="link pjax" href="/catalog/111111">
                    <meta itemprop="url" content="">
                    <span itemprop="title">Электроника</span>
                </a>
            </li>
        </ul>
        <div class="productCardTitle">
            <h1 class="title titleSize32" title="Cobra GPS4200CT">Радар-детекторы</h1>

        </div>
    </div>




    <div class="row">

            <div class="col-xs-9">
                <div class="catalogContentsWrapper">
                    <div class="row catalogContents">
                        <div class="col-xs-4 snippetWrapper">
                            <div class="snippet" onclick=''>
                                <div class="snippetSticker" onclick="">
                                    <a class="stickerDiscount" href="">до -23%</a>
                                </div>
                                <div class="snippetHead">
                                    <div class="snippetImage">
                                        <a class="link" href="">
                                            <img class="" src="//mdata.yandex.net/i?path=b1108122855_img_id951745394616859197.jpeg&amp;size=5" alt="GPS4100CT" title="GPS4100CT" itemprop="image">
                                        </a>
                                    </div>
                                    <a class="snippetTitle link linkThemeMinor pjaxProduct" href="/product/12345">
                                        <h4 title="Cobra GPS4100CT">Cobra GPS4100CT</h4>
                                    </a>
                                </div>
                                <div class="snippetContent">
                                    <div class="snippetPrice" data-price="5410">
                                        <div class="price">5 410 руб.</div>
                                    </div>
                                    <div class="snippetOffers">
                                        <a class="link" href="">0 отзывов</a>
                                        <a class="link snippetOffersNumber" href="">2 предложения</a>
                                    </div>
                                    <span class="snippetSpecItem">радар-детектор  с лазерным приемником</span>
                                    <ul class="snippetSpec">
                                        <li class="snippetSpecItem">диапазоны: K, Ka, X</li>
                                        <li class="snippetSpecItem">обнаружение радаров типа "Стрелка", "Robot"</li>
                                        <li class="snippetSpecItem">режимы: "Город", "Трасса", "Авто"</li>
                                        <li class="snippetSpecItem">поддержка POP</li>
                                    </ul>
                                </div>
                                <div class="snippetFooter">
                                    <div class="snippetToolbar">
                                        <div class="snippetToolbarItem toolbarItemHeart"></div>
                                        <div class="snippetToolbarItem toolbarItemCompare"></div>
                                    </div>
                                    <div class="snippetAction">
                                        <a class="button buttonSizeXS buttonThemePseudo pjaxProduct" href="/product/12345">
                                            <span class="buttonText">Цены</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 snippetWrapper">
                            <div class="snippet " onclick=''>
                                <div class="snippetSticker" onclick=""></div>
                                <div class="snippetHead">
                                    <div class="snippetImage">
                                        <a class="link " href="">
                                            <img class="image" src="//mdata.yandex.net/i?path=b1119184838_img_id5554876503868043964.jpeg&amp;size=5" alt="PRO 100 GPS" title="PRO 100 GPS" itemprop="image">
                                        </a>
                                    </div>
                                    <a class="snippetTitle link linkThemeMinor pjaxProduct" href="/product/123445">
                                        <h4 title="iBOX PRO 100 GPS">iBOX PRO 100 GPS</h4>
                                    </a>
                                </div>
                                <div class="snippetContent">
                                    <div class="snippetPrice" data-min-price="5999">5 999 руб.</div>
                                    <div class="snippetOffers">
                                        <a class="link" href="">0 отзывов</a>
                                        <a class="link snippetOffersNumber" href="">1 предложение</a>
                                    </div>
                                    <span class="snippetSpecItem">радар-детектор  с лазерным приемником</span>
                                    <ul class="snippetSpec">
                                        <li class="snippetSpecItem">диапазоны: K, Ka, Ku, X</li>
                                        <li class="snippetSpecItem">обнаружение радаров типа "Стрелка", "Robot"</li>
                                        <li class="snippetSpecItem">режимы: "Город", "Трасса", "Авто"</li>
                                        <li class="snippetSpecItem">поддержка POP</li>
                                    </ul>
                                </div>
                                <div class="snippetFooter">
                                    <div class="snippetToolbar">
                                        <div class="snippetToolbarItem toolbarItemHeart" onclick=''></div>
                                        <div class="snippetToolbarItem toolbarItemCompare" onclick=''></div>
                                    </div>
                                    <div class="snippetAction">
                                        <a class="button buttonSizeXS buttonThemePseudo pjaxProduct" href="/product/123445">
                                            <span class="buttonText">Цены</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 snippetWrapper">
                            <div class="snippet " onclick=''>
                                <div class="snippetSticker" onclick=""></div>
                                <div class="snippetHead">
                                    <div class="snippetImage">
                                        <a class="snippet-cell__image link " href="">
                                            <img class="image" src="//mdata.yandex.net/i?path=b1027205914_img_id3597060722572158405.jpeg&amp;size=5" alt="STR-9040EX GP One kit" title="STR-9040EX GP One kit" itemprop="image">
                                        </a>
                                    </div>
                                    <a class="snippetTitle link linkThemeMinor pjaxProduct" href="/product/1212345">
                                        <h4 title="Street Storm STR-9040EX GP One kit">Street Storm STR-9040EX GP One kit</h4>
                                    </a>
                                </div>
                                <div class="snippetContent">
                                    <div class="snippetPrice" data-min-price="9100">
                                        <span class="price">от 9 100 руб.</span>
                                    </div>
                                    <div class="snippetOffers">
                                        <a class="link" href="">7 отзывов</a>
                                        <a class="link snippetOffersNumber" href="">4 предложения</a>
                                    </div>
                                    <span class="snippetSpecItem">радар-детектор  с лазерным приемником</span>
                                    <ul class="snippetSpec">
                                        <li class="snippetSpecItem">диапазоны: K, Ka, X, Ultra-K, Ultra-Ka, Ultra-X</li>
                                        <li class="snippetSpecItem">обнаружение радаров типа "Стрелка", "Robot"</li>
                                        <li class="snippetSpecItem">режимы: "Город", "Трасса"</li>
                                        <li class="snippetSpecItem">поддержка POP, Instant-On</li>
                                    </ul>
                                </div>
                                <div class="snippetFooter">
                                    <div class="snippetToolbar">
                                        <div class="snippetToolbarItem toolbarItemHeart"></div>
                                        <div class="snippetToolbarItem toolbarItemCompare"></div>
                                    </div>
                                    <div class="snippetAction">
                                        <a class="button buttonSizeXS buttonThemePseudo pjaxProduct" href="/product/1212345">
                                            <span class="buttonText">Цены</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row catalogContents">
                        <div class="col-xs-4 snippetWrapper">
                            <div class="snippet" onclick=''>
                                <div class="snippetSticker" onclick="">
                                    <a class="stickerDiscount" href="">до -23%</a>
                                </div>
                                <div class="snippetHead">
                                    <div class="snippetImage">
                                        <a class="link" href="">
                                            <img class="" src="//mdata.yandex.net/i?path=b1108122855_img_id951745394616859197.jpeg&amp;size=5" alt="GPS4100CT" title="GPS4100CT" itemprop="image">
                                        </a>
                                    </div>
                                    <a class="snippetTitle link linkThemeMinor pjaxProduct" href="/product/123342345">
                                        <h4 title="Cobra GPS4100CT">Cobra GPS4100CT</h4>
                                    </a>
                                </div>
                                <div class="snippetContent">
                                    <div class="snippetPrice" data-price="5410">
                                        <div class="price">5 410 руб.</div>
                                    </div>
                                    <div class="snippetOffers">
                                        <a class="link" href="">0 отзывов</a>
                                        <a class="link snippetOffersNumber" href="">2 предложения</a>
                                    </div>
                                    <span class="snippetSpecItem">радар-детектор  с лазерным приемником</span>
                                    <ul class="snippetSpec">
                                        <li class="snippetSpecItem">диапазоны: K, Ka, X</li>
                                        <li class="snippetSpecItem">обнаружение радаров типа "Стрелка", "Robot"</li>
                                        <li class="snippetSpecItem">режимы: "Город", "Трасса", "Авто"</li>
                                        <li class="snippetSpecItem">поддержка POP</li>
                                    </ul>
                                </div>
                                <div class="snippetFooter">
                                    <div class="snippetToolbar">
                                        <div class="snippetToolbarItem toolbarItemHeart"></div>
                                        <div class="snippetToolbarItem toolbarItemCompare"></div>
                                    </div>
                                    <div class="snippetAction">
                                        <a class="button buttonSizeXS buttonThemePseudo pjaxProduct" href="/product/123342345">
                                            <span class="buttonText">Цены</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 snippetWrapper">
                            <div class="snippet " onclick=''>
                                <div class="snippetSticker" onclick=""></div>
                                <div class="snippetHead">
                                    <div class="snippetImage">
                                        <a class="link " href="">
                                            <img class="image" src="//mdata.yandex.net/i?path=b1119184838_img_id5554876503868043964.jpeg&amp;size=5" alt="PRO 100 GPS" title="PRO 100 GPS" itemprop="image">
                                        </a>
                                    </div>
                                    <a class="snippetTitle link linkThemeMinor pjaxProduct" href="/product/663342345">
                                        <h4 title="iBOX PRO 100 GPS">iBOX PRO 100 GPS</h4>
                                    </a>
                                </div>
                                <div class="snippetContent">
                                    <div class="snippetPrice" data-min-price="5999">5 999 руб.</div>
                                    <div class="snippetOffers">
                                        <a class="link" href="">0 отзывов</a>
                                        <a class="link snippetOffersNumber" href="">1 предложение</a>
                                    </div>
                                    <span class="snippetSpecItem">радар-детектор  с лазерным приемником</span>
                                    <ul class="snippetSpec">
                                        <li class="snippetSpecItem">диапазоны: K, Ka, Ku, X</li>
                                        <li class="snippetSpecItem">обнаружение радаров типа "Стрелка", "Robot"</li>
                                        <li class="snippetSpecItem">режимы: "Город", "Трасса", "Авто"</li>
                                        <li class="snippetSpecItem">поддержка POP</li>
                                    </ul>
                                </div>
                                <div class="snippetFooter">
                                    <div class="snippetToolbar">
                                        <div class="snippetToolbarItem toolbarItemHeart" onclick=''></div>
                                        <div class="snippetToolbarItem toolbarItemCompare" onclick=''></div>
                                    </div>
                                    <div class="snippetAction">
                                        <a class="button buttonSizeXS buttonThemePseudo pjaxProduct" href="/product/663342345">
                                            <span class="buttonText">Цены</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 snippetWrapper">
                            <div class="snippet " onclick=''>
                                <div class="snippetSticker" onclick=""></div>
                                <div class="snippetHead">
                                    <div class="snippetImage">
                                        <a class="snippet-cell__image link " href="">
                                            <img class="image" src="//mdata.yandex.net/i?path=b1027205914_img_id3597060722572158405.jpeg&amp;size=5" alt="STR-9040EX GP One kit" title="STR-9040EX GP One kit" itemprop="image">
                                        </a>
                                    </div>
                                    <a class="snippetTitle link linkThemeMinor pjaxProduct" href="/product/778">
                                        <h4 title="Street Storm STR-9040EX GP One kit">Street Storm STR-9040EX GP One kit</h4>
                                    </a>
                                </div>
                                <div class="snippetContent">
                                    <div class="snippetPrice" data-min-price="9100">
                                        <span class="price">от 9 100 руб.</span>
                                    </div>
                                    <div class="snippetOffers">
                                        <a class="link" href="">7 отзывов</a>
                                        <a class="link snippetOffersNumber" href="">4 предложения</a>
                                    </div>
                                    <span class="snippetSpecItem">радар-детектор  с лазерным приемником</span>
                                    <ul class="snippetSpec">
                                        <li class="snippetSpecItem">диапазоны: K, Ka, X, Ultra-K, Ultra-Ka, Ultra-X</li>
                                        <li class="snippetSpecItem">обнаружение радаров типа "Стрелка", "Robot"</li>
                                        <li class="snippetSpecItem">режимы: "Город", "Трасса"</li>
                                        <li class="snippetSpecItem">поддержка POP, Instant-On</li>
                                    </ul>
                                </div>
                                <div class="snippetFooter">
                                    <div class="snippetToolbar">
                                        <div class="snippetToolbarItem toolbarItemHeart"></div>
                                        <div class="snippetToolbarItem toolbarItemCompare"></div>
                                    </div>
                                    <div class="snippetAction">
                                        <a class="button buttonSizeXS buttonThemePseudo pjaxProduct" href="/product/778">
                                            <span class="buttonText">Цены</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row catalogContentsMore">
                        <div class="buttonMore"><a role="button" class="button buttonSizeM buttonThemePseudo" href="" onclick="specsLink(); return false;"><span class="buttonText">Показать еще</span></a></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="catalogFilters" onclick=''>
                    Фильтры















                </div>
            </div>


    </div>



</div>