
<div class="mainPageWrapper">
    <div class="mainPageHeader">


        <h1>Добро пожаловать в автомагазин ECAREX.ru</h1><br>


    </div>
    <div class="">
        <div class="col-xs-3 catalogMenuWrapper">
            <div class="catalogMenuItem">
                <a class="link catalogMenuTitle" href="/catalog/1111">Запчасти</a>
                <div class="catalogMenuList">
                    <a class="link catalogMenuListItem pjax" href="/catalog/11112">Двигатель</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/11113">Электрика</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/11114">Кузов</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/11115">Фильтры</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/11116">Подвеска</a>
                    <div class="catalogMenuListWrap">


                    </div>
                    <a class="link catalogMenuListItem catalogMenuListMore" href="/catalog/1111">Eщё</a>

                </div>
            </div>
            <div class="catalogMenuItem">
                <a class="link catalogMenuTitle" onclick='' href="/catalog/2222">Автохимия</a>
                <div class="catalogMenuList">
                    <a class="link catalogMenuListItem pjax" href="/catalog/22221">Моторные масла</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/22222">Масло трансмиссионное</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/22223">Антифризы</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/22224">Присадки в топливо</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/22225">Присадки в масло</a>
                </div>
            </div>
            <div class="catalogMenuItem">
                <a class="link catalogMenuTitle" onclick='' href="/catalog/3333">Шины и диски</a>
                <div class="catalogMenuList">
                    <a class="link catalogMenuListItem pjax" href="/catalog/33331">Шины</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/33332">Колесные диски</a>
                </div>
            </div>
            <div class="catalogMenuItem">
                <a class="link catalogMenuTitle" href="/catalog/4444">Электроника</a>
                <div class="catalogMenuList">
                    <a class="link catalogMenuListItem pjax" href="/catalog/44441">Видеорегистраторы</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/44442">Радар-детекторы</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/44443">Парктроники</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/44444">Автомагнитолы</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/44445">Усилители</a>
                </div>
            </div>
            <div class="catalogMenuItem">
                <a class="link catalogMenuTitle" href="/catalog/55555">Аксессуары</a>
                <div class="catalogMenuList">
                    <a class="link catalogMenuListItem pjax" href="/catalog/55551">Щетки стеклоочистителей</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/55552">Автомобильные холодильники</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/55553">Детские автокресла</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/55554">Необходимый набор автомобилиста</a>
                    <a class="link catalogMenuListItem pjax" href="/catalog/55555">Обустройство салона</a>
                </div>
            </div>

        </div>
        <div class="col-xs-9 mainPageContentWrapper">
            <div class="row popular">



                        <div class="col-xs-4 popularBox">
                            <a class="popularItem pjax" href="/catalog/58936"><img class="image" src="/images/дорога_без_неожиданностей_size1.jpg" alt="" title=""></a>
                        </div>
                        <div class="col-xs-4 popularBox">
                            <div class="popularBoxHalf1">
                                <a class="popularItem pjax" href="/catalog/58936"><img class="image" src="/images/моторные_масла_size2.png" alt="" title=""></a>
                            </div>
                            <div class="popularBoxHalf2">
                                <div class="popularBoxQuarter">
                                    <a class="popularItem pjax" href="/catalog/58936"><img class="image" src="/images/gps_навигаторы_size3.png" alt="" title=""></a>
                                </div>
                                <div class="popularBoxQuarter">
                                    <a class="popularItem pjax" href="/catalog/58936"><img class="image" src="/images/автоакустика_size3.png" alt="" title=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 popularBox">
                            <div class="popularBoxHalf1">
                                <a class="popularItem pjax" href="/catalog/58936"><img class="image" src="/images/все_ходы_записаны_size2.png" alt="" title=""></a>
                            </div>
                            <div class="popularBoxHalf2">
                                <a class="popularItem pjax" href="/catalog/58936"><img class="image" src="/images/блестящие_и_внушительные_size2.png" alt="" title=""></a>
                            </div>
                        </div>


            </div>
            <div class="row">
                <h2>Популярные товары</h2>
                <div class="col-xs-4 snippetMainPage">
                    <div class="snippet">
                        <div class="snippetSticker"></div>
                        <div class="snippetHead">
                            <div class="snippetImage">
                                <a class="snippet-cell__image link" href="">
                                    <img class="image" src="/images/StreetStormSTR9040EXGP.jpg" alt="STR-9040EX GP One kit" title="STR-9040EX GP One kit" itemprop="image">
                                </a>
                            </div>
                            <div class="snippetTitle">
                                <a class="link linkThemeMinor pjaxProduct" href="/product/581231">
                                    <h4 title="Street Storm STR-9040EX GP One kit">Street Storm STR-9040EX GP One kit</h4>
                                </a>
                                <a class="link snippetCatalogItem pjax" href="/catalog/58936">Радар-детекторы</a>
                            </div>
                        </div>
                        <div class="snippetContent">
                            <div class="snippetPrice" data-min-price="9100">
                                <span class="price">от 9 100 руб.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 snippetMainPage">
                    <div class="snippet">
                        <div class="snippetSticker"></div>
                        <div class="snippetHead">
                            <div class="snippetImage">
                                <a class="link " href="">
                                    <img src="/images/SilverStoneF1Monaco.jpg" alt="Monaco" title="Monaco" itemprop="image">
                                </a>
                            </div>
                            <div class="snippetTitle">
                                <a class="link linkThemeMinor pjaxProduct" href="/product/583323">
                                    <h4 title="SilverStone F1 Monaco">SilverStone F1 Monaco</h4>
                                </a>
                                <a class="link snippetCatalogItem pjax" href="/catalog/58936">Радар-детекторы</a>
                            </div>
                        </div>
                        <div class="snippetContent">
                            <div class="snippetPrice" data-min-price="5590">
                                <span class="price">от 5 590 руб.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 snippetMainPage">
                    <div class="snippet">
                        <div class="snippetSticker"></div>
                        <div class="snippetHead">
                            <div class="snippetImage">
                                <a class="snippet-cell__image link " href="">
                                    <img class="image" src="/images/StreetStormSTR9040EXGP.jpg" alt="STR-9040EX GP One kit" title="STR-9040EX GP One kit" itemprop="image">
                                </a>
                            </div>
                            <div class="snippetTitle">
                                <a class="link linkThemeMinor pjaxProduct" href="/product/58936">
                                    <h4 title="Street Storm STR-9040EX GP One kit">Street Storm STR-9040EX GP One kit</h4>
                                </a>
                                <a class="link snippetCatalogItem pjax" href="/catalog/58936">Радар-детекторы</a>
                            </div>
                        </div>
                        <div class="snippetContent">
                            <div class="snippetPrice" data-min-price="9100">
                                <span class="price">от 9 100 руб.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttonMainPage">
                    <div class="buttonMore"><a role="button" class="button buttonSizeM buttonThemePseudo" href=""><span class="buttonText">Показать ещё</span></a></div>
                </div>
            </div>
            <div class="row">
                <h2></h2>
                <div class="col-xs-3"></div>
                <div class="col-xs-3"></div>
                <div class="col-xs-3"></div>

            </div>




        </div>

    </div>
</div>
