
<div class="row productOpinionHeader" onclick="">
    <div class="col-xs-9">
        <h1>Все отзывы</h1>
        <a class="link reviewCount" href="">1</a>
    </div>
    <div class="col-xs-3">
        <a type="button" role="button" class="button buttonSizeM buttonThemeAction" href="" onclick="">
            <span class="buttonText">Написать отзыв</span>
        </a>
    </div>
</div>
<div class="productOpinionContent" data-review-id="53685731" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
    <div class="reviewUser" onclick="">
        <span class="reviewUserName" itemprop="author">степнов андрей</span>
    </div>
    <div class="reviewItemRate">
        <div class="rating ratingSize1 ratingBorder" date-rate="1" onclick='' itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
            <meta itemprop="ratingValue" content="1">1<div class="ratingCorner"><div class="ratingTriangle"></div></div>
        </div>
        <span class="reviewItemLabel">обычная модель</span>
        <span class="reviewItemExperience">Опыт использования: менее месяца</span>
    </div>
    <meta itemprop="description" content="Достоинства: gps но когда он включен радар остальное не видит,Недостатки: стал виснуть,Комментарий: пойду сдавать">
    <dl class="reviewItem">
        <dt class="reviewItemTitle">Достоинства:</dt>
        <dd class="reviewItemText">gps но когда он включен радар остальное не видит</dd>
    </dl>
    <dl class="reviewItem">
        <dt class="reviewItemTitle">Недостатки:</dt>
        <dd class="reviewItemText">стал виснуть</dd>
    </dl>
    <div class="reviewItem">
        <div class="reviewItemTitle">Комментарий: </div>
        <div class="reviewItemText">пойду сдавать</div>
    </div>
    <div class="row reviewItemFooter">
        <div class="col-xs-6">10 января 2015
            <meta itemprop="datePublished" content="2015-01-10T14:48:21">, Тула</div>
        <div class="col-xs-6">
            <div class="reviewVoting" onclick=''>
                <div class="reviewVotingPlus">
                    <img alt="" src="/images/voting_plus.png">
                    <span class="reviewVotingNum">5</span>
                </div>
                <div class="reviewVotingMinus">
                    <img alt="" src="/images/voting_minus.png">
                    <span class="reviewVotingNum">4</span>
                </div>
            </div>
        </div>
    </div>
</div>
