
        <div class="productAlternativeWrapper">
            <div class="row">
                <h1>Вам также могут понравиться</h1>
                <div class="pagerArrow" onclick="">
                    <span class="pagerArrowPrev">
                        <img class="image" src="" alt="&lt;">
                    </span>
                    <span class="pagerArrowNext">
                        <img class="image" src="" alt="&gt;">
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 snippetWrapper">
                    <div class="snippet" onclick=''>
                        <div class="snippetSticker" onclick="">
                            <a class="stickerDiscount" href="">до -23%</a>
                        </div>
                        <div class="snippetHead">
                            <div class="snippetImage">
                                <a class="link" href="">
                                    <img class="" src="/images/CobraGPS4100CT.jpg" alt="GPS4100CT" title="GPS4100CT" itemprop="image">
                                </a>
                            </div>
                            <a class="snippetTitle link linkThemeMinor" href="">
                                <h4 title="Cobra GPS4100CT">Cobra GPS4100CT</h4>
                            </a>
                        </div>
                        <div class="snippetContent">
                            <div class="snippetPrice" data-price="5410">
                                <div class="price">5 410 руб.</div>
                            </div>
                            <div class="snippetOffers">
                                <a class="link" href="">0 отзывов</a>
                                <a class="link snippetOffersNumber" href="">2 предложения</a>
                            </div>
                            <span class="snippetSpecItem">радар-детектор  с лазерным приемником</span>
                            <ul class="snippetSpec">
                                <li class="snippetSpecItem">диапазоны: K, Ka, X</li>
                                <li class="snippetSpecItem">обнаружение радаров типа "Стрелка", "Robot"</li>
                                <li class="snippetSpecItem">режимы: "Город", "Трасса", "Авто"</li>
                                <li class="snippetSpecItem">поддержка POP</li>
                            </ul>
                        </div>
                        <div class="snippetFooter">
                            <div class="snippetToolbar">
                                <div class="snippetToolbarItem toolbarItemHeart"></div>
                                <div class="snippetToolbarItem toolbarItemCompare"></div>
                            </div>
                            <div class="snippetAction">
                                <a class="button buttonSizeXS buttonThemePseudo" href="" onclick="">
                                    <span class="buttonText">Цены</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 snippetWrapper">
                    <div class="snippet " onclick=''>
                        <div class="snippetSticker" onclick=""></div>
                        <div class="snippetHead">
                            <div class="snippetImage">
                                <a class="link " href="">
                                    <img class="image" src="/images/iBOXPRO100GPS.jpg" alt="PRO 100 GPS" title="PRO 100 GPS" itemprop="image">
                                </a>
                            </div>
                            <a class="snippetTitle link linkThemeMinor" href="">
                                <h4 title="iBOX PRO 100 GPS">iBOX PRO 100 GPS</h4>
                            </a>
                        </div>
                        <div class="snippetContent">
                            <div class="snippetPrice" data-min-price="5999">5 999 руб.</div>
                            <div class="snippetOffers">
                                <a class="link" href="">0 отзывов</a>
                                <a class="link snippetOffersNumber" href="">1 предложение</a>
                            </div>
                            <span class="snippetSpecItem">радар-детектор  с лазерным приемником</span>
                            <ul class="snippetSpec">
                                <li class="snippetSpecItem">диапазоны: K, Ka, Ku, X</li>
                                <li class="snippetSpecItem">обнаружение радаров типа "Стрелка", "Robot"</li>
                                <li class="snippetSpecItem">режимы: "Город", "Трасса", "Авто"</li>
                                <li class="snippetSpecItem">поддержка POP</li>
                            </ul>
                        </div>
                        <div class="snippetFooter">
                            <div class="snippetToolbar">
                                    <div class="snippetToolbarItem toolbarItemHeart" onclick=''></div>
                                    <div class="snippetToolbarItem toolbarItemCompare" onclick=''></div>
                            </div>
                            <div class="snippetAction">
                                <a class="button buttonSizeXS buttonThemePseudo" href="" onclick="">
                                    <span class="buttonText">Цены</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 snippetWrapper">
                    <div class="snippet " onclick=''>
                        <div class="snippetSticker" onclick=""></div>
                        <div class="snippetHead">
                            <div class="snippetImage">
                                <a class="snippet-cell__image link " href="">
                                    <img class="image" src="/images/StreetStormSTR9040EXGP.jpg" alt="STR-9040EX GP One kit" title="STR-9040EX GP One kit" itemprop="image">
                                </a>
                            </div>
                        <a class="snippetTitle link linkThemeMinor" href="">
                            <h4 title="Street Storm STR-9040EX GP One kit">Street Storm STR-9040EX GP One kit</h4>
                        </a>
                        </div>
                        <div class="snippetContent">
                            <div class="snippetPrice" data-min-price="9100">
                                <span class="price">от 9 100 руб.</span>
                            </div>
                            <div class="snippetOffers">
                                <a class="link" href="">7 отзывов</a>
                                <a class="link snippetOffersNumber" href="">4 предложения</a>
                            </div>
                            <span class="snippetSpecItem">радар-детектор  с лазерным приемником</span>
                            <ul class="snippetSpec">
                                <li class="snippetSpecItem">диапазоны: K, Ka, X, Ultra-K, Ultra-Ka, Ultra-X</li>
                                <li class="snippetSpecItem">обнаружение радаров типа "Стрелка", "Robot"</li>
                                <li class="snippetSpecItem">режимы: "Город", "Трасса"</li>
                                <li class="snippetSpecItem">поддержка POP, Instant-On</li>
                            </ul>
                        </div>
                        <div class="snippetFooter">
                            <div class="snippetToolbar">
                                <div class="snippetToolbarItem toolbarItemHeart"></div>
                                <div class="snippetToolbarItem toolbarItemCompare"></div>
                            </div>
                            <div class="snippetAction">
                                <a class="button buttonSizeXS buttonThemePseudo" href="" onclick="">
                                    <span class="buttonText">Цены</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 snippetWrapper">
                    <div class="snippet" onclick=''>
                        <div class="snippetSticker" onclick=""></div>
                        <div class="snippetHead">
                            <div class="snippetImage">
                                <a class="link " href="">
                                    <img src="/images/SilverStoneF1Monaco.jpg" alt="Monaco" title="Monaco" itemprop="image">
                                </a>
                            </div>
                            <a class="snippetTitle link linkThemeMinor" href="">
                                <h4 title="SilverStone F1 Monaco">SilverStone F1 Monaco</h4>
                            </a>
                        </div>
                        <div class="snippetContent">
                            <div class="snippetPrice" data-min-price="5590">
                                <span class="price">от 5 590 руб.</span>
                            </div>
                            <div class="snippetOffers">
                                <a class="link" href="">16 отзывов</a>
                                <a class="link snippetOffersNumber" href="">11 предложений</a>
                            </div>
                            <span class="snippetSpecItem">радар-детектор  с лазерным приемником</span>
                            <ul class="snippetSpec">
                                <li class="snippetSpecItem">диапазоны: K, Ka, Ku, X, Ultra-K</li>
                                <li class="snippetSpecItem">обнаружение радаров типа "Стрелка", "Robot"</li>
                                <li class="snippetSpecItem">режимы: "Город", "Трасса", "Авто"</li>
                                <li class="snippetSpecItem">поддержка POP</li>
                            </ul>
                        </div>
                        <div class="snippetFooter">
                            <div class="snippetToolbar">
                                <div class="snippetToolbarItem toolbarItemHeart"></div>
                                <div class="snippetToolbarItem toolbarItemCompare"></div>
                            </div>
                            <div class="snippetAction">
                                <a class="button buttonSizeXS buttonThemePseudo" href="" onclick="">
                                    <span class="buttonText">Цены</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
