
    <div class="row">

        <div class="col-xs-9 productSpecWrapper">
             <div class="productSpecFullContent">
                <h2>Приемник</h2>
                <dl><dt><span>Диапазон K</span></dt><dd><span>24000-24250 МГц </span></dd></dl>
                <dl><dt><span>Диапазон Ka</span></dt><dd><span>33400-36000 МГц </span></dd></dl>
                <dl><dt><span>Диапазон X</span></dt><dd><span>10475-10575 МГц </span></dd></dl>
                <dl><dt><span>Детектор лазерного излучения</span></dt><dd><span>есть, 860-960 нм </span></dd></dl>
                <dl><dt><span>Поддержка режимов</span></dt><dd><span>POP</span></dd></dl>
                <dl><dt><span>Приемник сигнала (радиоканал)</span></dt><dd><span>супергетеродин </span></dd></dl>
                <h2>Настройки</h2>
                <dl><dt><span>Режим Город</span></dt><dd><span>есть, количество уровней - 2 </span></dd></dl>
                <dl><dt><span>Режим Трасса</span></dt><dd><span>есть </span></dd></dl>
                <dl><dt><span>Режим Авто</span></dt><dd><span>есть </span></dd></dl>
                <h2>Функции</h2>
                <dl><dt><span>Обнаружение радаров типа "Стрелка"</span></dt><dd><span>есть </span></dd></dl>
                <dl><dt><span>Обнаружение радаров типа "Robot"</span></dt><dd><span>есть </span></dd></dl>
                <dl><dt><span>Определение координат</span></dt><dd><span>GPS, база стац. радаров, добавление точек ложных срабатываний </span></dd></dl>
                <h2>Вывод информации</h2>
                <dl><dt><span>Отображение информации</span></dt><dd><span>символьный дисплей </span></dd></dl>
                <dl><dt><span>Голосовое оповещение</span></dt><dd><span>есть </span></dd></dl>
                <h2>Дополнительно</h2>
                <dl><dt><span>Рабочая температура</span></dt><dd><span>-24 - 70 °C </span></dd></dl>
             </div>
            <div class="buttonMore"><a role="button" class="button buttonSizeM buttonThemePseudo" href="" onclick="specsLink(); return false;"><span class="buttonText">Перейти к характеристикам</span></a></div>
        </div>
        <div class="col-xs-3 productMinicard">
            <div class="productMinicardWrapper" onclick="">
                <div class="hcenter"><h5 class="productMinicardTitle"><span>Заказать</span></h5></div>
                <div class="productMinicardImage">
                    <div class="vcenter">
                        <img class="image" src="/images/qwerty.jpg" alt="Радар-детекторы Cobra GPS4200СТ" title="Радар-детекторы Cobra GPS4200СТ" itemprop="image">
                    </div>
                </div>
                <span class="productCardShopTitle">
                    <a href="" class="link linkShop">ИП Терехов</a>
                </span>
                <div class="ratingStarsBlock"><div class="ratingStars" data-rate="5" onclick=''>
                    <i class="ratingStar" data-rate-name=""></i>
                    <i class="ratingStar" data-rate-name=""></i>
                    <i class="ratingStar" data-rate-name=""></i>
                    <i class="ratingStar" data-rate-name=""></i>
                    <i class="ratingStar" data-rate-name=""></i>
                </div>
                    <a class="link "href="">42558 отзывов</a>
                </div>
                <div class="phone" onclick=''>
                    <img class="image imagePhone" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMDAlIDEwMCUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMS4yNzNjLTIuMTQ1IDIuNjE3IDEuNDg5IDYuMTg0IDIuMzkyIDcuMTc2LjkwMy45OTQgNC4wNSA1LjA3MyA2Ljc3IDMuMDI1IDIuMDA5LTEuNTEyLjk3NC0yLjgzMy40MDctMy4yOTUtLjYyNC0uNTA3LTEuNDQ0LTEuNDQ0LTIuOTEyLS4yOTMtMS4yNDguOTc5LTIuNTczLS44ODEtMi41NzMtLjg4MXMtMi4yNDItMi4xMjUtLjExMy0zLjM4NGMxLjQxLS44MzYtLjM3OC0yLjczMS0uMzc4LTIuNzMxcy0xLjQ1LTIuMjM1LTMuNTk0LjM4NHoiIGZpbGw9IiNCMkIyQjIiLz48L3N2Zz4=" alt="">
                    <span>+7(921)956-75-65</span>
                </div>
                <div class="delivery" onclick=''>
                    <div class="deliveryInfo"><span class="deliveryIcon deliveryIconTruck"></span>Бесплатно, в наличии</div>
                    <div class="deliveryInfo"><span class="deliveryIcon deliveryIconSelf"></span>Самовывоз</div>
                    <div class="deliveryPopup">
                        <div class="deliveryPopupInfo deliveryAdditionalInfo">Сделав заказ на сайте, можно выбрать магазин и забрать товар в удобное время. <br>Доставка осуществляется при сумме заказа от 2000 рублей, бесплатно.</div>
                        <div class="deliveryPopupInfo">
                            <div class="deliveryPopupInfo">
                                <div>2 магазина</div>
                                <a class="button buttonThemePseudo buttonSizeXS" href="">
                                    <span class="buttonText">Посмотреть на карте</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hcenter">
                    <a role="button" type="button" class="button buttonSizeM buttonThemeAction toCart" data-uuid="123" data-shopid="123"  data-shop="ИП ТЕРЕХОВ Ириновский" data-price="7990" data-name="Cobra GPS4200CT" data-shopra="5" data-img="CobraGPS4200CT" href="">
                        <span class="buttonText"><span class="text">В корзину</span><div class="buttonPrice">7 990 руб.</div></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
