
<div class="row"><h2>Магазины на карте</h2></div>
<div class="row">
    <div class="col-xs-4">
        <ol>
            <li>
                <div class="itemShop">
                    <a class="link linkShop" target="_blank" href="">ИП ТЕРЕХОВ Ириновский</a>
                </div>
                <div class="ratingStarsBlock itemStars">
                    <div class="ratingStars" data-rate="5" onclick=''>
                        <i class="ratingStar" data-rate-name=""></i>
                        <i class="ratingStar" data-rate-name=""></i>
                        <i class="ratingStar" data-rate-name=""></i>
                        <i class="ratingStar" data-rate-name=""></i>
                        <i class="ratingStar" data-rate-name=""></i>
                    </div>
                    <a class="link " href="">0 отзывов</a>
                </div>
                <div class="itemAdress">Санкт-Петербург, Ириновский пр. 1А</div>
                <div class="itemPriceSmall">7 990 руб.</div>
            </li>
            <li>
                <div class="itemShop">
                    <a class="link linkShop" target="_blank" href="">ИП ТЕРЕХОВ Ириновский</a>
                </div>
                <div class="ratingStarsBlock itemStars">
                    <div class="ratingStars" data-rate="5" onclick=''>
                        <i class="ratingStar" data-rate-name=""></i>
                        <i class="ratingStar" data-rate-name=""></i>
                        <i class="ratingStar" data-rate-name=""></i>
                        <i class="ratingStar" data-rate-name=""></i>
                        <i class="ratingStar" data-rate-name=""></i>
                    </div>
                    <a class="link " href="">0 отзывов</a>
                </div>
                <div class="itemAdress">Санкт-Петербург, Богатырский пр. 26</div>
                <div class="itemPriceSmall">7 990 руб.</div>
            </li>
        </ol>
    </div>
    <div class="col-xs-8">
        <div id="productMapWrapper">
        </div>
    </div>
</div>
