<div class="shopLinkRow">
    <div class="container">
        <div class="row shopLinkRowContainer">
                <div class="col-xs-3 shopLinkcolumn">
                    <a class="link linkShop" target="_blank" href="">ИП ТЕРЕХОВ Ириновский</a>
                </div>
                <div class="col-xs-3 shopLinkcolumn">
                    <div class="ratingStarsBlock">
                        <div class="ratingStars" data-rate="5" onclick=''>
                            <i class="ratingStar" data-rate-name=""></i>
                            <i class="ratingStar" data-rate-name=""></i>
                            <i class="ratingStar" data-rate-name=""></i>
                            <i class="ratingStar" data-rate-name=""></i>
                            <i class="ratingStar" data-rate-name=""></i>
                        </div>
                        <a class="link " href="">0 отзывов</a>
                    </div>
                </div>
                <div class="col-xs-3 shopLinkcolumn">
                    <div class="delivery" onclick=''>
                        <div class="deliveryInfo"><span class="deliveryIcon deliveryIconTruck"></span>Бесплатно, в наличии</div>
                        <div class="deliveryInfo"><span class="deliveryIcon deliveryIconSelf"></span>Самовывоз</div>
                    </div>
                    <a href="" target="_blank" class="link linkThemeMinor itemDelivery">Подробнее</a>
                </div>
                <div class="col-xs-2 shopLinkcolumn">
                    <a href="" class="link itemPrice" target="_self">7 990 руб.</a>
                </div>
                <div class="col-xs-1 shopLinkcolumn">
                    <a role="button" type="button" class="button buttonSizeS buttonThemeAction" data-uuid="124" data-shopid="123"  data-shop="ИП ТЕРЕХОВ Ириновский" data-price="7990" data-name="Cobra GPS4200CT" data-shopra="5" data-img="CobraGPS4200CT" href="Cobra_GPS4200CT">
                        <span class="buttonText"><span class="text">В корзину</span></span>
                    </a>
                </div>
        </div>
    </div>
</div>
<div class="shopLinkRow">
    <div class="container">
        <div class="row shopLinkRowContainer">
            <div class="col-xs-3 shopLinkcolumn">
                <a class="link linkShop" target="_blank" href="">ИП ТЕРЕХОВ Богатырский</a>
            </div>
            <div class="col-xs-3 shopLinkcolumn">
                <div class="ratingStarsBlock">
                    <div class="ratingStars" data-rate="4" onclick=''>
                        <i class="ratingStar" data-rate-name=""></i>
                        <i class="ratingStar" data-rate-name=""></i>
                        <i class="ratingStar" data-rate-name=""></i>
                        <i class="ratingStar" data-rate-name=""></i>
                        <i class="ratingStar" data-rate-name=""></i>
                    </div>
                    <a class="link " href="">0 отзывов</a>
                </div>
            </div>
            <div class="col-xs-3 shopLinkcolumn">
                <div class="delivery" onclick=''>
                    <div class="deliveryInfo"><span class="deliveryIcon deliveryIconTruck"></span>Бесплатно, в наличии</div>
                    <div class="deliveryInfo"><span class="deliveryIcon deliveryIconSelf"></span>Самовывоз</div>
                </div>
                <a href="" target="_blank" class="link linkThemeMinor itemDelivery">Подробнее</a>
            </div>
            <div class="col-xs-2 shopLinkcolumn">
                <a href="" class="link itemPrice" target="_self">7 990 руб.</a>
            </div>
            <div class="col-xs-1 shopLinkcolumn">
                <a role="button" type="button" class="button buttonSizeS buttonThemeAction" data-uuid="125" data-shopid="123"  data-shop="ИП ТЕРЕХОВ Ириновский" data-price="7990" data-name="Cobra GPS4200CT" data-shopra="5" data-img="CobraGPS4200CT" href="Cobra_GPS4200CT">
                    <span class="buttonText"><span class="text">В корзину</span></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="shopLinkFooter">
    <div class="container">
        <button class="button buttonSizeS buttonThemePseudo" role="button" type="button" onclick=''>
            <span class="buttonText">Узнать о снижении цены</span>
        </button>
    </div>
</div>