        <div class="shopInfo">
            <div class="shopsInfoBlock">
                <div class="shopsInfoText">Стоимость доставки в другие регионы уточняйте у менеджеров.</div>
                <div class="shopsInfoText">При оплате через банк может взиматься комиссия за перевод (в среднем 3% от стоимости заказа).</div>
            </div>
            <div class="shopsInfoLink">
                <a class="link linkThemeMinor" target="_blank" href="">Информация о продавце</a>
            </div>
        </div>

