<div class="catalogPageWrapper">
    <div class="row catalogHeader">
        <ul class="breadcrumbs" onclick="">
            <li id="breadcrumbsCategory0" class="breadcrumbsItem" itemscope="itemscope" itemref="" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a class="link pjax" href="/">
                    <meta itemprop="url" content="">
                    <span itemprop="title">Главная</span>
                </a>
            </li>
            <li id="breadcrumbsCategory1" class="breadcrumbsItem" itemscope="itemscope" itemref="breadcrumbsCategory" itemprop="child" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a class="link pjax" href="/catalog/111111">
                    <meta itemprop="url" content="">
                    <span itemprop="title">Электроника</span>
                </a>
            </li>
        </ul>
        <div class="productCardTitle">
            <h1 class="title titleSize32" title="">Радар-детекторы</h1>

        </div>
    </div>




    <div class="row">

            <div class="col-xs-10">
                <div class="avContentsWrapper">
                    <div id="form"></div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="catalogFilters" onclick=''>
                    Фильтры















                </div>
            </div>


    </div>



</div>